@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(173, 173, 173);
    color: white;
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.remove-sidebar {
        transform: translate(-410px, 0);
        position: absolute;
}

.sidebar nav {
    padding: 20px;
}

.sidebar nav ul li {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(59, 59, 59);
}

.main {
    /* background-color: yellow; */
    color: black;
    width: 90vw;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    margin-left: 10px;
}

.cross-btn {
    margin-left: 150px;

}

.container {
    display: flex;
    font-family: 'Bruno Ace', cursive;
}

.info-cont {
    /* background-color: cyan; */
    height: 60vh;
    width: 80vw;
    margin: 45px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .info-cont {
        flex-wrap: wrap;
    }

    .dev-pic {
        display: none;
    }

    /* .sidebar {
        transform: translate(-410px, 0);
        position: absolute;
    } */
}

.dev-pic img {
    width: 365px;
    border-radius: 50%;
}

.dev-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 5rem;
}

.name {
    font-family: 'Chivo Mono', monospace;
    font-size: 3rem;
    font-weight: bold;
}

.about {
    font-size: 1.5rem;
    padding: 10px 0px;
}

.moreabout {
    font-size: 1rem;
    padding: 16px 0px;
}

.buttons {
    margin-top: 32px;
}

.btn {
    padding: 10px 25px;
    border-radius: 25px;
    margin: 0px 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

/* contact form */
.contact-form {
    font-family: 'Chivo Mono', monospace;
    padding: 0px 35px;
    padding-top: 144px;
}

.contact-form h1, .contact-form h3 {
    font-family: 'Bruno Ace', cursive;
    text-align: center;
    margin: 20px 0;
}

.contact-form form div {
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contact-form form input {
    font-size: 20px;
    margin: 10px 0;
    padding: 5px;
    width: 30vw;
}

#emailHelp {
    font-size: 10px;
}

#form-check {
    flex-direction: row ;
}

#form-check input {
    width: 15px;
    margin: 0px 15px;
}

.contact-form form button {
    margin-top: 15px;
}

.btn-sm {
    background-color: cyan;
    padding: 6px 20px;
    margin-top: 15px;
}

.blog-cont {
    margin: 20px
}

.blog-item {
    margin: 20px
}

.blog-item h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.blog-item p {
    font-family: 'Chivo Mono', monospace;
}